#questions {
    background: rgb(190, 210, 252);
    width: 960;
    border: 1px solid green;
}

#clock {
    font-family: Monda, monospace;
    font-size: 60px;
    color: rgb(255, 123, 0);
    text-align: center;
    background: rgb(11, 47, 206);
    width: 560px;
}

h1,
h2 {
    color: white;
}

body {
    background-image: url("../backgrounds/diagmonds.png");
    padding: 0px;
    margin: 0px;
}

input {
    margin: 10px;
}

.container {
    width: 960px;
}