#questions {
    background: #c89;
    width: 960;
    border: 1px solid green;
}

#clock {
    font-family: monospace;
    font-size: 80px;
    color: green;
    text-align: center;
    background: black;
    /* width:  */
}

input {
    margin: 10px;
}

.container {
    width: 960px;
}